@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import './button';

@font-face {
	font-family: 'StarJedi';
	src: 
		 url(../fonts/SoloistLaser.eot?) format('eot'),
		 url(../fonts/SoloistLaser.woff) format('woff'),
		 url(../fonts/SoloistLaser.ttf) format('truetype');
	font-weight: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: $text-color;
	background-color: $dark;
}

ul,
li,
dl {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
	color: $text-color;
	margin: 0;
}
h3 {
	color: $main-color;
	font-size: 18px;
}

a {
	text-decoration: none;
	color: $text-color;
	display: inline-block;
	&:hover {
		text-decoration: none;
	}
}

p {
	margin: 0;
	padding: 0;
}

span {
	font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.app {
	width: 1100px;
	margin: 0 auto;
	padding: 50px 0 50px 0;
	position: relative;

	.bg-decoration {
		position: absolute;
		right: -174px;
		bottom: -70px;
		z-index: -1;
	}
}

main {
	margin-top: 50px;
	position: relative;
}

.pulse {
	animation: pulse 1.5s ease-in-out 0.5s infinite;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}
